* {
  box-sizing: border-box;
}

html, body, #root, .App {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-flow: column nowrap;
}

.colorpicker {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px 0; /* Maybe vertical padding will work better */
}

.colorpicker > .hue-slider {
  height: 100%;
  margin: 0 10px; /* Vertical margins break the layout */
}

.slider {
  border: 1px solid #000;
  display: block;
  position: relative;
}

.slider.vertical {
  height: 100%;
  width: 15px;
  background-image: linear-gradient(to top,
    #f00 0%, #ff0 16.666666%,
    #0f0 33.333333%, #0ff 50%,
    #00f 66.666666%, #f0f 83.333333%, #f00 100%);
}

.track {
  height: 100%;
  width: 100%;
}

.pointer {
  height: 3px;
  background-color: #000;
  position: absolute;
  display: block;
}

.slider .pointer {
  width: 100%;
}

.map {
  position: relative;
  height: 100%;
  flex-grow: 1;
  margin: 0 10px;
}

.map .pointer {
  width: 3px;
}

.map .background {
  height: 100%;
  background-image: linear-gradient(to top, #000 0%, transparent 100%), linear-gradient(to right, #fff 0%, transparent 100%);
}

.rgbInputs {
  display: flex;
}
.rgbInputs > * {
  flex-grow: 1;
}

.bigInput {
  font-size: 2rem;
}

.inputBlock > * {
  width: 100%;
}